# Release directories
build
dist

# Project egg dir
pytest_spec.egg-info

# Python/Test temporary files
*.pyc
.cache
.coverage
.pytest_cache

# Pyenv configuration file
.python-version

# VSCode workspace settings
.vscode

# Lock file
poetry.lock
uv.lock

# Conda environment file
environment.yaml

# Lint cache
.ruff_cache

# Virtualenv
.venv
