name: test

on: [push]

jobs:
  test-python:
    strategy:
      fail-fast: false
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.0.10
      - name: Install projects
        run: poetry install
      - name: Test with pytest
        run: poetry run pytest .
      - name: Test with different python_functions
        run: poetry run pytest -o python_functions=describe .
  test-os:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.0.10
      - name: Install projects
        run: poetry install
      - name: Test with pytest
        run: poetry run pytest .
      - name: Test with different python_functions
        run: poetry run pytest -o python_functions=describe .
  test-pytest:
    strategy:
      fail-fast: false
      matrix:
        pytest-version: [3.9.3, 4.6.11, 5.4.3, 6.1.2]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: BSFishy/pip-action@v1
        with:
          packages: pytest==${{ matrix.pytest-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.0.10
      - name: Install projects
        run: poetry install
      - name: Test with pytest
        run: poetry run pytest .
      - name: Test with different python_functions
        run: poetry run pytest -o python_functions=describe .
